@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

.App {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    line-height: 1.4;
    font-size: 18px; // NOTE: holy mother of god root font size
    scroll-behavior: smooth;
    top: 80px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 480px) {
    .App {
        font-size: 15px;
    }
}
@media only screen and (min-width: 481px) {
    .App {
        font-size: 17px;
    }
}
@media only screen and (min-width: 770px) {
    .App {
        font-size: 19px;
    }
}
