@use "abstracts/colors";

.hamburger {
  display: none;
}

@media only screen and (max-width: 480px) {
  .hamburger {
    --spacing: 1em;
    --dimension: 25px;
    --height: 4px;

    cursor: pointer;
    position: absolute;
    right: var(--spacing);
    top: var(--spacing);
    width: var(--dimension);
    height: var(--dimension);
    display: flex;
    justify-content: center;
    align-items: center;

    // BARS
    .bar-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .bar {
        background-color: colors.$dark-gray;
        height: 4px;
        border-radius: 4px;
      }
      .bar1, .bar3 {
        width: 70%;
      }
      .bar1 {
        margin-left: auto;
      }
      .bar3 {
        margin-right: auto;
      }
    }
    // X 
    .x-wrapper {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      .stroke {
        height: 4px;
        width: 100%;
        background-color: colors.$dark-gray;
        position: absolute;
        border-radius: 4px;
      }
      .stroke1 {
        transform: rotate(45deg);
      }
      .stroke2 {
        transform: rotate(-45deg);
      }
    }
  }
  .hamburger-bars-enter {
    opacity: 0;
  }
  .hamburger-bars-enter-active {
    opacity: 1;
    transition: opacity 150ms 200ms linear;
  }
  .hamburger-bars-exit {
    opacity: 1;
  }
  .hamburger-bars-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
  }

  .hamburger-x-enter {
    opacity: 0;

  }
  .hamburger-x-enter-active {

    opacity: 1;
    transition: opacity 150ms 200ms linear;
  }
  .hamburger-x-exit {
    opacity: 1;
  }
  .hamburger-x-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
  }
}


