@use "abstracts/colors";
@media only screen and (max-width: 480px) {
  .nav {
    position: absolute;
    top: 4rem;
    right: 1em;
    height: 30%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: flex-end;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-end;
      flex-grow: 0.5;

      .nav-item {
        overflow: hidden;
        backdrop-filter: blur(2px);
        border-radius: 20px;
        padding: 10px;
        opacity: 0;
        transform: translateY(-10px);
        transition: transform 250ms ease-out,
                    opacity 250ms ease-out;
        
        a {
          text-decoration: none;
          color: colors.$dark-gray;
        }
      }
      .nav-item.active {
        opacity: 1;
        transform: translateY(0);
        transition: transform 250ms ease-in,
                    opacity 250ms ease-in;
      }
    }
// TODO: glass effect
    
  }
}
